<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button *ngIf="isAuthenticated" mat-button (click)="openCloseSideNav()">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-icon>money</mat-icon>&nbsp;
    <span [routerLink]="['']" style="display: inline-flex;vertical-align: middle;">
      Expense Manager</span>
    <span class="spacer"></span>
    <!-- <button mat-button [routerLink]="['/addexpense']" *ngIf="isAuthenticated">
      <mat-icon>add</mat-icon> Add Expense</button> -->
    <button mat-button [routerLink]="['/viewexpense']" *ngIf="isAuthenticated">
      <mat-icon>list_alt</mat-icon> View Expenses</button>
    <button mat-button [routerLink]="['/user/register']" *ngIf="!isAuthenticated">
      <mat-icon>label_important</mat-icon> Register</button>
    <button mat-button [routerLink]="['/user/login']" *ngIf="!isAuthenticated">
      <mat-icon>input</mat-icon> Login</button>
    <button mat-button (click)="logOut()" *ngIf="isAuthenticated">
      <mat-icon>exit_to_app</mat-icon> Logout </button>
    <button mat-button (click)="changeTheme()">
      <mat-icon>format_color_fill</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>
<button mat-fab color="warn" *ngIf="isAuthenticated" [routerLink]="['/addexpense']" style="position:fixed;bottom:30px;right:30px">
  <mat-icon>add</mat-icon>
</button>