@import "~@angular/material/prebuilt-themes/indigo-pink.css";
html, body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #F9F9F9;
}

*:focus {
    outline: 0;
    outline: none;
}

.spinner {
    left: 50%;
    margin-left: -4em;
    size: 1px;
}