<div class="background">
  <br>
  <div class="row">
    <div class="leftcolumn">
      <div *ngFor="let item of [1,2,3,4, 8, 9,9,5]">
        <mat-card class="example-card" style="width:80%; margin:auto;">
          <h4>How can you save your expense?</h4>
          <mat-card-content>
            <p>
              The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan. A small, agile dog that copes
              very well with mountainous terrain, the Shiba Inu was originally bred for hunting.
            </p>
          </mat-card-content>
        </mat-card>
        <br>
        <br>
      </div>
    </div>
  </div>
  <div class="rightcolumn">
    <h3>Your recent major expenditures</h3>
    <br>
    <mat-card class="example-card" style="width:80%; margin:auto;">
      <mat-list *ngIf="isAuthenticated">
        <mat-list-item> Eating out at local mess </mat-list-item>
        <mat-list-item> Local bus travel </mat-list-item>
        <mat-list-item> Ola/Uber travel </mat-list-item>
      </mat-list>
      <span *ngIf="!isAuthenticated">Please
        <a [routerLink]="['/user/login']">login</a> to view your recent major expenditures</span>
    </mat-card>
  </div>
</div>